*{
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	overflow-x: hidden;
}
.main-head{
	height: 100vh;
	display: flex;
	align-items: center;
	color: #fff;
}
.NavHeader{
	position: absolute;
	background: rgba(000,000, 000,0.5);
	width: 100%;
	height: 80px;
	z-index: 2;
}
.NavHeader ul{
	margin: 0 auto;
	padding: 0px;
	text-align: center;
}
.NavHeader ul li{
	list-style: none;
	display: inline-block;	
	text-transform: uppercase;
	font-weight: 600;
	padding-top: 1.5rem;	
}
.NavHeader li a{
	color: #fff;	
	text-decoration: none;
	margin: 0px;
	padding: 2.1rem;
}
.NavHeader li a:hover{	
	color: #000;
}
.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	text-align: center;
}
/* Seccion Fondo de Video */
.fullscreen-video-wrap{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}
.fullscreen-video-wrap video{
	min-width: 100%;
	min-height: 100%;
	margin: 0 auto;
}

.header-overlay{
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: #224470;
	z-index: 1;
	opacity: 0.65;
}
.header-content{
	z-index: 2;
}
.header-content h1{
	font-size: 50px;
	margin-bottom: 0;
}
.header-content p{
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
}
.InfoContent{
	background: #F6F6F6;
	color: #424242;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 400px;
	text-align: center;	
}
.InfoContent h1{
	padding: 2rem 0px;
	font-size: 2.5rem;	
}
.InfoContent p{
	padding: 1.2rem;
	font-size: 1.2rem;
}
.InfoContent .InfoImg{
	background-image: url("/img/taxi.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100vh;
}
.Sim{
	background: #f6f6f6;
	height: 400px;
	text-align: center;
}
.SimWrapper{
	padding-top: 50px;	
}
.SimWrapper h1{
	color: #424242;
	padding: 2rem 0px;
	font-size: 2.5rem;
}
.SimWrapper p{
	font-size: 1.2rem;
	padding: 0px 2rem;
}
.Cards{
	background: #66BB6A;	
}
.card{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1em;
	background: #f6f6f6;
}