doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    // Fuentes
    link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
    // Estilos
    link(rel="stylesheet" href="css/style.css")
    title ECV56 Ala Falcon
  body
    // Barra de Navegacion
    nav.NavHeader
      ul.NavWrap
        li
          a(href="") Misiones
        li
          a(href="") Campañas
        li
          a(href="") Historia
        li
          a(href="") Rooster
        li
          a(href="") Acerca de
      
    // Header
    header.main-head.container
      // Header Fondo Video
      .fullscreen-video-wrap
        video(muted="" src="vid/ec56falcon.webm" autoplay="true" loop="true")
      .header-overlay
      .header-content
        // Header Titulo y Parrafo
        h1 ECV56 Condor | Ala Falcon
        p
          | Grupo de Vuelo Virtual Aéreo Argentino | Operaciones Interescuadron
    // Info
    section.InfoContent
      .InfoWrapper
        h1  Falcon MS 4.33
        blockquote(cite='https://www.bmsforum.org/forum/content.php')
          | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam error eum odio minus corrupti impedit, earum debitis quas deleniti soluta cum alias ipsa quia iure! Laborum libero praesentium voluptatem earum doloremque, voluptatum perspiciatis rem quaerat ipsam nesciunt perferendis soluta vero animi dicta sunt? Dignissimos, optio modi sit cumque aliquid, autem recusandae quia est sequi, mollitia possimus. A eius, ullam est nostrum in unde veritatis, adipisci odit beatae similique, laboriosam harum.
        p - Fuente 
          a(href="") Foro BMS
      .InfoImg
    // Seccion Simulador
    section.Sim
      .SimWrapper
        // Texto Secc. Simulador
        h1 ECV56 Ala Falcon
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque libero, quisquam earum repellat et praesentium impedit quaerat alias. Suscipit corporis praesentium totam perferendis, dolor doloremque quo ratione aperiam ullam vitae fugiat commodi enim, corrupti eum natus possimus nisi quaerat! Quidem aperiam error nam sit laudantium. Consequatur, iste. Laborum, sapiente? Labore dignissimos deserunt impedit assumenda ab! Labore expedita eligendi placeat id. Impedit explicabo inventore dolor optio porro suscipit quam, officiis corporis beatae sunt consectetur nisi, earum ratione, atque qui consequuntur.
    // Seccion Cartas
    section.Cards
      .card
        .Card1
          .CardImg
            // Imagen Cartas
            img(src="" alt="")
          // Texto Cartas
          p Operaciones interescuadron, campañas en diferentes escenarios, misiones de práctica empleando procedimientos y comunicaciones establecidos por el Ala Falcon del ECV56 
        .Card2
          .CardImg
              // Imagen Cartas
              img(src="" alt="")
          // Texto Cartas
          p Vuelos en diferentes cazas realizando arranque en frio, taxi y despegue dentro de cabinas 3D/2D clickeables.
        .Card3
          .CardImg
            // Imagen Cartas
            img(src="" alt="")
          // Texto Cartas
          p Uno de los simuladores más realistas con una alta curva de aprendizaje. Desde navegación básica hasta misiones complejas.
    // Seccion Acerca de
    section.About
      .AboutWrapper
        h2 Sobre nosotros
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate veniam obcaecati quisquam perspiciatis aperiam minima fugit officiis enim impedit qui tempora, commodi, magni dolor rerum totam eligendi libero, itaque aspernatur?
    // Footer
    footer.Footer
      .FootInfo
        p
          | Todos los derechos y contenidos pertenecen a 
          a(href="") ECV56 Ala Falcon
          |  &copy
      .FootLinks
      a(href="") Facebook
      a(href="") Foro
      a(href="") TeamSpeak